@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #136dec;
  --color-bg-main: #f6f7f8;
  --color-bg-card: #ffffff;
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
  --color-border: #e2e8f0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg-main);
}
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
