@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #136dec;
  --color-bg-main: #f6f7f8;
  --color-bg-card: #ffffff;
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
  --color-border: #e2e8f0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg-main);
}